In [3]:
print (1+2)

3

In [4]:
This is **Markdown Sample1**

SyntaxError: invalid syntax (2262742763.py, line 1)

In [5]:
def add(n, y)
if n == 0
return n
end
n + y
end
puts add(0, 3)

SyntaxError: expected ':' (899615006.py, line 1)

In [6]:
print(250 + 100 + 400)

750

In [8]:
print(50//3)

16

In [9]:
print(float(2))

2.0

In [10]:
x = 1
x = x + 5
print(x)

x = 1
x += 5
print(x)

6
6

In [11]:
print("learn python")
print("Hello")

learn python
Hello

In [12]:
january_average_temperature = 6
february_average_temperature = 7
print("The average temperature for each month is {} degrees in January and {} degrees in February!!".format(january_average_temperature, february_average_temperature))

The average temperature for each month is 6 degrees in January and 7 degrees in February!!

In [13]:
list = [0, 1, 2]
print(list(user_ids))

NameError: name 'user_ids' is not defined

In [14]:
student_name = "Alice"
student_age = 22
if student_age < 20:
  print("{}は20歳未満!!".format(student_name))
elif student_age == 21:
  print("{}は21歳!!".format(student_name))
elif student_age == 22:
  print("{}は22歳!!".format(student_name))
else:
  print("{}は23歳以上!!".format(student_name))

Aliceは22歳!!

In [15]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
for number in numbers:
  print(number)

0
1
2
3
4
5
6
7
8
9

In [16]:
text = "Python"
for character in text:
  print(character)

P
y
t
h
o
n

In [17]:
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
for i in range(len(monthly_average_temperatures)):
  print("{} The average monthly temperature is {} degrees!!".format(i+1, monthly_average_temperatures[i]))

1 The average monthly temperature is 6 degrees!!
2 The average monthly temperature is 7 degrees!!
3 The average monthly temperature is 9 degrees!!
4 The average monthly temperature is 15 degrees!!
5 The average monthly temperature is 20 degrees!!
6 The average monthly temperature is 22 degrees!!
7 The average monthly temperature is 27 degrees!!
8 The average monthly temperature is 26 degrees!!
9 The average monthly temperature is 23 degrees!!
10 The average monthly temperature is 17 degrees!!
11 The average monthly temperature is 12 degrees!!
12 The average monthly temperature is 7 degrees!!

In [19]:
def print_hello_something(something):
  print("Hello, {}!".format(something))

print_hello_something("Test calling function")

Hello, Test calling function!

In [20]:
def hello_something(something, end = "!"):
  return "Hello, {}{}".format(something, end)

print(hello_something("Python", end = "!!"))

Hello, Python!!

In [21]:
print (10 / 0)

ZeroDivisionError: division by zero

In [22]:
print​ ​(type​ ​(42)) ​ ​# (A)​ ​print​ ​(type​ ​(​ ​"john")) ​ ​# (B)​ ​print​ ​(type​ ​(​ ​"42")) ​ ​# (C)​ ​print​ ​(type​ ​(4.2​ ​/​ ​3)) ​ ​# (D)

SyntaxError: invalid non-printable character U+200B (1771612458.py, line 1)

In [24]:
print(type(42))

<class 'int'>

In [25]:
print​ ​(type​ ​(4.2​ ​/​ ​3)) ​

SyntaxError: invalid non-printable character U+200B (1088926171.py, line 1)

In [26]:
print (type(4.2/3))

<class 'float'>